:root {
  --primary-color: rgb(74, 74, 204);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  height: auto;
  background-color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 2rem;
}

#search-container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

#search-container .down {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-container .down .classic-btn {
  margin-right: 1rem;
}

.classic-btn {
  padding: .5rem;
  border-radius: .5rem;
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}


#search-input {
  padding: .5rem;
  font-family: "Ubuntu", sans-serif;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: .5rem;
  width: 60%;
}

#search-btn {}

.classic-btn:hover {
  border: 1px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}

#audios-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

#audios-container>* {
  /* margin: 0 auto; */
}

.single-audio-container {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.res-nb {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
  cursor: pointer;
}

.res-nb:hover {
  text-decoration: underline;

}

audio {
  width: 35%;
  border: 2px solid var(--primary-color);
  border-radius: 25rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.audio-tag {
  margin-bottom: .5rem;
}

.audio-tag::before {
  content: '🍆 ';
  color: var(--primary-color);
  display: none;
}

.audio-tag.active::before {
  display: inline-block;
}

#go-up-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2.5rem;
  color: var(--primary-color);
}

#go-up-btn:hover {}

/* taille tablette */
@media (max-width: 1000px) {
  #search-container {
    width: 50%;
  }

  #audios-container {
    width: 80%;
  }

  audio {
    width: 60%;
  }
}

/* taille smartphone */
@media (max-width: 700px) {
  #search-container {
    width: 95%;
    justify-content: space-around;
  }

  #audios-container {
    width: 95%;
  }

  audio {
    width: 95%;
  }
}